@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&family=Tiny5&display=swap');
@import url('/public/css/Animation.css');
*{
    margin: 0;
    font-family: sans-serif;
}
body{
    transition: 1s;
}

.tableau{
    display: grid;
    background-color: white;
    width: 900px;
    height: 900px;
    grid-template-columns:repeat(3,1fr);
    margin: 50px auto 0px auto;
}
.tableau div{
    border: 5px black solid;
    transition: 0.5s;
}


.jeu{
    background-color: white;
    border-radius: 10px;
    font-weight: 900;
    font-size: 90px;
    margin: 50px auto 0px auto;
    width: max-content;
    font-family: "Tiny5";
}
.score{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.score h1{
    padding: 20px;
    font-size: 200px;
    font-family: "Tiny5";
    border:5px black solid;
    border-radius: 10px;
}
