@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&family=Tiny5&display=swap');
*{
    margin: 0;
    font-family: sans-serif;
}
.blue{
    background:rgb(64, 64, 255);
}
body{
    transition: 1s;
}
.red{
    background: rgb(255, 105, 105);
}
.tableau{
    display: grid;
    background-color: white;
    width: 850px;
    height: 850px;
    grid-template-columns:repeat(3,1fr);
    margin: 10vh auto 0px auto;
}
.tableau div{
    border: 5px black solid;
    transition: 0.5s;
}


.jeu{
    background-color: white;
    border-radius: 10px;
    font-weight: 900;
    font-size: 80px;
    margin: 50px auto 0px auto;
    width: max-content;
    font-family: "Tiny5";
}
@keyframes choisi{
   0%{
    rotate: 10deg;
   }
    50%{
        scale: 1.5 1.5;
    }
}
.rondm{
    background-color: rgb(57, 57, 254);
    animation: choisi 1s;
}
.croixm{
    background-color: rgb(255, 14, 14);
    animation: choisi 1s;
}

.tourm{
    color: blue;
    transition: 1s;
}
.tourm::after{
    content: "Bleu !";
    
}
.tourm{
    color: red;
    transition: 1s;
}
.tourm::after{
    content: "Rouge !";
    
}
.reset{
    background-color: grey;
}
